.glassmorphism {
    margin: 0 auto;
    width: min-content;
    background: transparent;
    border: 2px solid rgba(8, 6, 6, 0.2);
    color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
}

.rules p, .rules h2, .rules h3 {
    color: white;
}

.rules {
    width: auto;
    margin: 1rem 0 1rem 0; /* top right bottom left */
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF !important;
    margin: 0 auto 1.25rem;
    padding-bottom: 0.625rem;
    border-bottom: 0.125rem solid #FFFFFF;
    text-transform: uppercase;
    white-space: nowrap;
}

.rules h2 {
    font-size: 1.25rem;
    color: #FFFFFF;
    margin-bottom: 1.25rem;
    padding-bottom: 0.625rem;
    border-bottom: 0.125rem solid #FFFFFF;
    text-transform: uppercase;
}

.rules h3 {
    font-size: 1rem;
    color: #CCCCCC;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
}

.rules p {
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 1.25rem;
}

main h1:last-child {
    margin-top: 2rem;
}
