@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@300;400;500; 600; 700; 800;900&display=swap");

:root{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary : #23232e;
    --bg-secondary : #141418;
}
