.glassmorphism .title {
    margin-top: 5rem;
    color: #fff;
    margin-bottom: 1.25rem;
}

.glassmorphism .subtitle {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    color: #fff;
    margin-bottom: 1.25rem;
}

.glassmorphism .subtitle2 {
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 1.25rem;
}

.home {
    width: auto;
    margin: 1rem 0 1rem 0; /* top right bottom left */
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
}

.btn {
    top: 20%
}

.text-end a {
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
}

form {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#executeButton {
    margin-top: 1.5rem;
    background: #fff;
    color: #000;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.2rem;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

button#executeButton:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}