.friends h1 {
    white-space: nowrap;
    margin-left: 10rem;
    margin-right: 10rem;
}

.friends h2 {
    text-align: center;
}

.recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    flex-wrap: wrap; /* Permet aux éléments de se déplacer à la ligne suivante si l'espace est insuffisant */
}

.recherche input {
    height: 3rem; /* Augmente la hauteur de la barre de recherche */
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem; /* Augmente la taille de la police pour une meilleure lisibilité */
}

.recherche button {
    width: auto;
    height: 3rem; /* Assure que le bouton a la même hauteur que la barre de recherche */
    border: none;
    border-radius: 1rem;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem; /* Augmente la taille de la police pour une meilleure lisibilité */
}

@media screen and (max-width: 768px) {
    .recherche input,
    .recherche button {
        width: 100%; /* Les éléments prennent toute la largeur disponible */
        margin-bottom: 0; /* Supprime la marge en bas */
        border-radius: 5rem !important; /* Supprime le border-radius */
    }
}

.recherche button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #45a049;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.625rem;
    padding: 0.625rem;
    border: 1px solid #198754;
    border-radius: 0.625rem;
}

.user img {
    width: 6.25rem;
    height: auto;
    border-radius: 50%;
    margin-bottom: 0.625rem;
}

.user p {
    margin-bottom: 0.625rem;
}

.user button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}