.friends h1 {
    white-space: nowrap;
    margin-left: 10rem;
    margin-right: 10rem;
}

.friends h2 {
    text-align: center;
}

.recherche {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.recherche input {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 0.625rem;
    padding: 0.313rem 0.625rem;
    margin-right: 0.625rem;
}

.recherche button {
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 0.313rem 0.625rem;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.625rem;
    padding: 0.625rem;
    border: 1px solid #198754;
    border-radius: 0.625rem;
}

.user img {
    width: 6.25rem;
    height: auto;
    border-radius: 50%;
    margin-bottom: 0.625rem;
}

.user p {
    margin-bottom: 0.625rem;
}

.user button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}