body {
    /* Empêcher scroll horizontal */
    overflow-x: hidden;
}

.glassmorphism.accueil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    width: 60vmin; /* Adapte la taille pour garder un carré responsive */
    height: 60vmin; /* Même valeur que la largeur pour un carré */
    max-width: 600px; /* Limite la largeur maximale */
    max-height: 600px; /* Limite la hauteur maximale */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accueil-container {
    width: 100%;
    margin: 2.5rem auto;
}

.executeButton {
    margin-top: 1.5rem;
    background: #fff;
    color: #000;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.2rem;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.executeButton:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #fff;
}

header h1 {
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

header img {
    width: 6.25rem;
}

.subtitle {
    margin-top: 2rem;
    white-space: nowrap;
}

*.disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
}

*.disabled:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
}

/* les deux boutons s'étendent sur toute la largeur et sont de la même taille sur la même ligne */
button {
    width: 100%;
    margin: 0;
}


@media (max-width: 1000px) {
    .glassmorphism.accueil-container {
        width: 100vmin; /* Augmente la taille pour les petits écrans */
        height: 100vmin;
        max-width: 90%; /* Permet au conteneur de prendre plus de largeur sur petits écrans */
        max-height: 90%; /* Idem pour la hauteur */
        padding: 15px; /* Ajuste le padding pour petits écrans */
    }
}
