header {
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
}

img {
    width: 6.25rem;
    height: auto;
    margin: 20px;
}

p {
    font-size: 20px;
    text-align: center;
}