* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("../img/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*font-family: Arial, sans-serif;*/
}

main {
    padding: 1rem;
}

h1.title {
    text-align: center;
    color: #fff;
    margin-bottom: 1.25rem;
    font-weight: bold;
    white-space: nowrap;
}

.glassmorphism {
    margin: 5rem auto;
    width: min-content;
    background: transparent;
    border: 2px solid rgba(8, 6, 6, 0.2);
    color: #fff;
    backdrop-filter: blur(1.25rem);
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, .2);
    border-radius: 0.625rem;
    padding: 1.875rem 2.5rem;
}

/* Class no-glassmorphism pour désactiver l'effet de verre */
.no-glassmorphism {
    backdrop-filter: none;
    box-shadow: none;
    border: none;
    background: transparent;
}