* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("https://cdn.discordapp.com/attachments/1205085823540928572/1218220639329189999/Pngtreejungle_background_vector_design_1197432.jpg?ex=6606df61&is=65f46a61&hm=d69fcee986d30e842254fda195d0ff92d0088f83ea49e5ce5807f2ddb6848ebc&");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*font-family: Arial, sans-serif;*/
}

main {
    padding: 1rem;
}

.glassmorphism {
    margin: 5rem auto;
    width: min-content;
    background: transparent;
    border: 2px solid rgba(8, 6, 6, 0.2);
    backdrop-filter: blur(1.25rem);
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, .2);
    border-radius: 0.625rem;
    padding: 1.875rem 2.5rem;
}

main.glassmorphism {
    color: #fff;
}

h1.title {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 1.25rem;
    font-weight: bold;
    white-space: nowrap;
}

/* Class no-glassmorphism pour désactiver l'effet de verre */
.no-glassmorphism {
    backdrop-filter: none;
    box-shadow: none;
    border: none;
    background: transparent;
}