.table {
    border-collapse: collapse;
    border-radius: 1rem;
    overflow: hidden;
}

.table-responsive {
    min-height: fit-content;
    max-height: 100vh;
    overflow: auto;
    border-collapse: collapse;
    border-radius: 1rem;
}

.table thead th {
    position: sticky;
    top: 0;
    background: #000; /* Ajustez cette couleur en fonction de vos besoins */
    color: #fff; /* Ajustez cette couleur en fonction de vos besoins */
}

.gold, .gold td {
    background: linear-gradient(to right, #FFD700, #FFDF00, #FFEC8B, #FFD700, #DAA520, #FFC125, #FFD700, #FFB90F, #D4AF37, #FFD700);
    animation: Gradient 5s ease infinite;
}

.silver, .silver td {
    background: linear-gradient(to right, #C0C0C0, #D3D3D3, #DCDCDC, #C0C0C0, #E0E0E0, #F0F0F0, #C0C0C0, #EAEAEA, #AAAAAA, #C0C0C0, #8C8C8C, #A9A9A9, #C0C0C0, #B0C4DE, #C0C0C0);
    animation: Gradient 5s ease infinite;
}

.bronze, .bronze td {
    background: linear-gradient(to right, #CD7F32, #8B4513, #804A00, #CD7F32, #B87333, #B8860B, #CD7F32, #D2691E, #CD7F32);
    animation: Gradient 5s ease infinite;
}
.glassmorphism.accueil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    width: 50vmin; /* Adapte la taille pour garder un carré responsive */
    height: 50vmin; /* Même valeur que la largeur pour un carré */
    max-width: 600px; /* Limite la largeur maximale */
    max-height: 600px; /* Limite la hauteur maximale */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
    .glassmorphism.accueil-container {
        width: 100vmin; /* Augmente la taille pour les petits écrans */
        height: 100vmin;
        max-width: 90%; /* Permet au conteneur de prendre plus de largeur sur petits écrans */
        max-height: 90%; /* Idem pour la hauteur */
        padding: 15px; /* Ajuste le padding pour petits écrans */
    }
}


@keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}