.sent-message {
    background-color: #4CAF50; /* vert */
    color: white;
    text-align: right;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.received-message {
    background-color: #f2f2f2; /* gris clair */
    color: black;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.message-content {
    display: inline-block;
    max-width: 80%; /* ajustez la largeur selon vos besoins */
}

.copy-button {
    background-color: #008CBA; /* bleu */
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}