html {
    padding: 20px;
    font-family: Arial, sans-serif; /* Police plus moderne */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre tout le contenu */
}

#end {
    display: flex;
    justify-content: center;
}

.endGameButton, .btn .btn-primary {
    background-color: #ff0000 !important; /* Couleur de fond - Rouge */
    font-size: 1.125rem;
    border: none;
    padding: 10px 15px; /* Plus de padding pour un meilleur clic */
    border-radius: 5px; /* Bordures arrondies */
    transition: background-color 0.3s; /* Transition douce */
    color: #fff; /* Texte en blanc */
}

.endGameButton:hover, .btn .btn-primary:hover {
    background-color: #cc0000 !important; /* Changement de couleur au survol */
    cursor: pointer; /* Curseur pointeur */
}

form#add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#add input[type="submit"] {
    border-radius: 5px; /* Bordures arrondies */
    border: none;
    transition: background-color 0.3s; /* Transition douce */
}

.modal-content {
    background: linear-gradient(-45deg, #000000, #434343, #000000); /* Fond en dégradé */
    color: #fff !important; /* Texte en blanc */
    padding: 1rem; /* Espacement intérieur */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Ombre subtile */
    max-width: 80%;
    text-align: center;
    animation: Gradient 15s ease infinite; /* Animation de dégradé */
}

.modal-header, .modal-body, .modal-footer {
    border-bottom: 1px solid #333; /* Ligne de séparation */
}

.modal-title {
    color: #fff; /* Texte en blanc */
    margin-bottom: 0; /* Réduit l'espace sous le titre */
    font-weight: bold; /* Gras pour le titre */
}

.btn-close {
    color: #fff;
    cursor: pointer;
}

.btn-secondary {
    background-color: #434343; /* Couleur de fond correspondant au dégradé */
    color: #fff;
    border: none;
    padding: 10px 15px; /* Plus de padding pour un meilleur clic */
    border-radius: 5px; /* Bordures arrondies */
    transition: background-color 0.3s; /* Transition douce */
}

.btn-secondary:hover {
    background-color: #333333; /* Changement de couleur au survol */
}

.add-word {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espacement entre les éléments */
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.score-board {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement entre les éléments */
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.custom-offcanvas {
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Ombre subtile */
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.closeButtonStyle {
    background: rgba(255, 0, 0, 1);
    border: none;
    padding: 12px 12px;
    border-radius: 5px;
    transition: background-color 2s ease;
    color: #fff;
}

.closeButtonStyle:hover, .closeButtonStyle:focus, .closeButtonStyle:active {
    background-color: rgba(255, 0, 0, 1);
    cursor: pointer;
}

.custom-offcanvas-body {
    text-align: center;
}

.player-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    color: white;
}

.player-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.player-info .username {
    font-size: 1.5rem;
    color: #FFFFFF;
}
